/* transition rotate */
@keyframes rotateEarth {
    
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* keyframes för rubrik */
@keyframes changeColorTitle {

    0% {
        background-color: rgb(185, 237, 244);
    }

    25% {
        background-color: rgb(245, 207, 213);
    }

    50% {
        background-color: rgb(133, 191, 249);
    }

    75% {
        background-color: rgb(243, 164, 177);
    }

    100% {
        background-color: rgb(247, 198, 252);
    }
}

/* translate bilder */

@keyframes translatePictures {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(0px, 20px);
    }
}