/* transition rotate */
@keyframes rotateEarth {
    
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* keyframes för rubrik */
@keyframes changeColorTitle {

    0% {
        background-color: rgb(168, 233, 242);
    }

    25% {
        background-color: rgb(240, 192, 200);
    }

    50% {
        background-color: rgb(97, 176, 255);
    }

    75% {
        background-color: rgb(245, 154, 169);
    }

    100% {
        background-color: rgb(248, 169, 255);
    }
}