/* mixin för skuggor i ljust och mörkt tema */

@mixin custom-box-shadow {
    box-shadow: 0px 6px 10px #515151;
  }
  @mixin custom-box-shadow-darkmode {
    box-shadow: 0px 8px 8px #383838;
  }

/* Mixin för border på bilder med if/else sats */
@mixin border-style($rounded: true) {
    @if $rounded {
      border-radius: 10px;
    } @else {
      border-radius: 0;
    }
  }

/* mixin för blå länkar i ljust och mörkt tema */
@mixin bluelink() {
    font-size: 1.3em;
    color: rgb(67, 135, 195);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-decoration: none;  
}

@mixin bluelink-darkmode() {
    font-size: 1.3em;
    color: rgb(26, 80, 128);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-decoration: none;  
}

/* mixin för mindre, svarta länkar */

@mixin link() {
  font-size: 1em;
  text-shadow: none;
  color: black;
  text-decoration: underline;
}

@mixin link-darkmode() {
  font-size: 1em;
  text-shadow: none;
  color: black;
  text-decoration: underline;
}

/* mixin för ikoner */

@mixin icon {
    font-size: 22px;
    padding-right: 5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Styling för diagram */

#bar {
  width: 70%;
  display: block;
  margin-bottom: 50px;
  margin: 0 auto;
} 

#pie {
  width: 60%;
  display: block;
  padding-bottom: 5%;
  margin: 0 auto;
}

/* Styling för karta */

  #map {
    height: 550px;
    margin: 5%;
    margin-bottom: 20px;
    border: 1px solid #000000;
    border-radius: 10px;
  }

  #search-form {
    text-align: center; 
}

  #search-input {
    width: 50%;
  }

  #search-button {
    width: 5em;
    height: 2.5em;
  }