@use "base";
@use "component";

* {
    margin: 0;
}

body {
    background-color: base.$background-blue;
}

main {
    background-color: base.$standard-white;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: base.$shadow-color;
}

p, h1 {
    font-family: base.$primary-font;
}

h1 {
    text-align: center;
}

/* Generell design av header */
header {
    height: 100px;
    background-color: base.$primary-blue;
    margin: 0;
    position: relative;
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    font-family: base.$primary-font;
    color: base.$standard-white;
    font-size: 0.8em;
    margin: 0;
    text-decoration: none;
}

.contact-form {
    background-color: base.$background-blue;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    box-shadow: base.$shadow-color;
  }
  
  label {
    font-family: base.$primary-font;
    display: block;
    margin-bottom: 8px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }

/* Design av meny för mobilenheter, placeras till höger om skärmen */
nav {
    font-family: base.$primary-font;
    background-color: base.$primary-blue;
    box-shadow: base.$shadow-color;
    font-size: 1.4em;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 250px;
    display: none;
}

nav {
    
    ul {
    width: 100%;
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
    padding: 0;
  }

    li {
    padding: 0.8em 0;
    width: 100%;
  }

    a {
    color: base.$standard-white;
    text-decoration: none;
    padding: 0 1em;
  }

    li:hover {
    background-color: base.$hover-blue;
    cursor: pointer;
  }
}

/* Meny knapp, öppna meny */
.menu-btn {
    display: flex;
    align-items: center;
    padding: 8px 15px;
    background-color: base.$primary-blue;
    border: base.$menu-border;
    cursor: pointer;
}

.open {
    margin: 0 1em;
}

.menu-btn:hover {
    background-color: base.$hover-blue;
    box-shadow: 0px 0px 5px 5px #757575;
}

.menu-icon {
    margin-right: 10px;
}

/* de tre svarta strecken (hamburg-icon) */
.bars {
    display: block;
    width: 20px;
    height: 3px;
    background-color: base.$standard-white;
    margin: 5px 0;
}

.menu-text {
    font-size: 1.2em;
    color: base.$standard-white;
}

/* Meny knapp, stäng */
.close {
    margin: 1em 1.5em;
    padding: 10px 15px;

}

/* Roterar två lodräda streck, till ett kryss */
.cross1 {
    width: 25px;
    transform: rotate(45deg);
    position: relative;
    top: 5px;
}

.cross2 {
    width: 25px;
    transform: rotate(135deg);
    position: relative;
    top: -3px;
}

/* Media querys */

/* Större skärmas - gör menyn som inline */
@media only screen and (min-width: 992px) {
    header {
        padding: 0 3em;
    }

    .menu-btn {
        display: none;
    }

    #open-menu {
        display: none !important;
    }

    header {
        position: static;
    }

    nav {
        display: block !important;
        position: static;
        box-shadow: 0 0px 0px;
        height: auto;
        font-size: 1.4em;
        width: auto;
    }

    nav ul {
        height: 100%;
    }

    nav li {
        display: inline;
        padding: 1.2em 0;
    }
}