@use "base";
@use "component";

* {
    margin: 0;
}

body {
    background-color: base.$background-blue;
}

main {
    background-color: base.$standard-white;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    @include component.custom-box-shadow;
}

p, h1 {
    font-family: base.$primary-font;
}

h1, footer p {
    text-align: center;
}

footer p {
    padding-top: 30px;
}

footer {
    background-color: base.$primary-blue;
    height: 80px;
}

/* Generell design av header */
header {
    height: 100px;
    background-color: base.$primary-blue;
    margin: 0;
    position: relative;
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    font-family: base.$primary-font;
    text-shadow: base.$text-shadow;
    color: base.$standard-white;
    font-size: 0.8em;
    margin: 0;
    text-decoration: none;
}

/* KONTAKTFORMULÄR PÅ KONTAKT-SIDAN */

.contact-form {
    background-color: base.$background-blue;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    @include component.custom-box-shadow;
  }
  
  label {
    font-family: base.$primary-font;
    display: block;
    margin-bottom: 8px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #a0a0a0;
  }

  .button-container {
    display: flex;
    justify-content: space-between;
  }
  
  .button {
    width: 130px;
    height: 45px;
    border-radius: 5px;
    color: black;
    font-size: 1em;
    cursor: pointer;
  }

  /* EXTEND FÖR KNAPPAR */

  .reset-button {
    @extend .button;
    background-color: red;
  }

  .send-button {
    @extend .button;
    background-color: green;
  }

  .picture-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 50px;
}

.picture-grid img {
    width: 100%;
    @include component.border-style(false);
}

/* Design av meny för mobilenheter, placeras till höger om skärmen */
nav {
    font-family: base.$primary-font;
    text-shadow: base.$text-shadow;
    background-color: base.$primary-blue;
    @include component.custom-box-shadow;
    font-size: 1.4em;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 250px;
    display: none;
}

/* NESTING FÖR NAV */

nav {
    
    ul {
    width: 100%;
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
    padding: 0;
  }

    li {
    padding: 0.8em 0;
    width: 100%;
  }

    a {
    color: base.$standard-white;
    text-decoration: none;
    padding: 0 1em;
  }

    li:hover {
    background-color: base.$hover-blue;
    cursor: pointer;
  }
}

/* Meny knapp, öppna meny */
.menu-btn {
    display: flex;
    align-items: center;
    padding: 8px 15px;
    background-color: base.$primary-blue;
    border: base.$menu-border;
    cursor: pointer;
}

.open {
    margin: 0 1em;
}

.menu-btn:hover {
    background-color: base.$hover-blue;
    @include component.custom-box-shadow;
}

.menu-icon {
    margin-right: 10px;
}

/* de tre svarta strecken (hamburg-icon) */
.bars {
    display: block;
    width: 20px;
    height: 3px;
    background-color: base.$standard-white;
    margin: 5px 0;
}

.menu-text {
    font-size: 1.2em;
    color: base.$standard-white;
}

/* Meny knapp, stäng */
.close {
    margin: 1em 1.5em;
    padding: 10px 15px;

}

/* Roterar två lodräda streck, till ett kryss */
.cross1 {
    width: 25px;
    transform: rotate(45deg);
    position: relative;
    top: 5px;
}

.cross2 {
    width: 25px;
    transform: rotate(135deg);
    position: relative;
    top: -3px;
}

/* Media querys */

/* Större skärmas - gör menyn som inline */
@media only screen and (min-width: 992px) {
    header {
        padding: 0 3em;
    }

    .menu-btn {
        display: none;
    }

    #open-menu {
        display: none !important;
    }

    header {
        position: static;
    }

    nav {
        display: block !important;
        position: static;
        box-shadow: 0 0px 0px;
        height: auto;
        font-size: 1.4em;
        width: auto;
    }

    nav ul {
        height: 100%;
    }

    nav li {
        display: inline;
        padding: 1.2em 0;
    }
}

/* mörkt och ljust tema */
@media (prefers-color-scheme: dark) {
    body {
        background-color: base.$background-blue-darkmode;
    }
    main {
        background-color: base.$standard-white-darkmode;
        @include component.custom-box-shadow-darkmode;
    }
    header {
        background-color: base.$primary-blue-darkmode;
    }
    .logo a {
        color: base.$standard-white-darkmode;
    }
    .contact-form {
        background-color: base.$background-blue-darkmode;
        @include component.custom-box-shadow-darkmode;
    }
    nav {
        background-color: base.$primary-blue-darkmode;
    }
    nav a {
        color: base.$standard-white-darkmode;
    }
    nav li:hover {
    background-color: base.$hover-blue-darkmode;
    }
    .menu-btn {
    background-color: base.$primary-blue-darkmode;
    border: base.$menu-border;
    @include component.custom-box-shadow-darkmode;
    }
    .menu-btn:hover {
    background-color: base.$hover-blue-darkmode;
    @include component.custom-box-shadow-darkmode;
    }
    .bars {
    background-color: base.$standard-white-darkmode;
    }
    
    .menu-text {
    color: base.$standard-white-darkmode;
    }

    .picture-grid img {
    @include component.border-style(true);
    }

}