@use "base";
@use "component";
@use "animations";

* {
    margin: 0;
}

body {
    background-color: base.$background-blue;
}

/* STYLING AV HEADER OCH LOGOTYP */
header {
    height: 100px;
    background-color: base.$primary-blue;
    margin: 0;
    position: relative;
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo img {
    height: 90px;
    border-radius: 100%;
    box-shadow: 2px 2px 7px #0b0b0b;
}

/* IKONER */

i {
    @include component.icon;
}

/* STYLING AV RESPONSIV MENY FÖR TABLETS OCH MOBILE, placeras till höger om skärmen */

nav {
    font-family: base.$primary-font;
    text-shadow: base.$text-shadow;
    background-color: base.$primary-blue;
    @include component.custom-box-shadow;
    font-size: 1.4em;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 250px;
    display: none;
}

/* NESTING FÖR NAV */
nav {
    
    ul {
    width: 100%;
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
    padding: 0;
  }

    li {
    padding: 0.8em 0;
    width: 100%;
  }

   i {
    font-size: 18px;
   }

    a {
    color: base.$standard-white;
    text-decoration: none;
    padding: 0 1em;
  }

    li:hover {
    background-color: base.$hover-blue;
    cursor: pointer;
    border-radius: 40px;
  }
}

/* ÖPPNA MENY-KNAPP */
.menu-btn {
    display: flex;
    align-items: center;
    padding: 8px 15px;
    background-color: base.$primary-blue;
    border: base.$menu-border;
    cursor: pointer;
}

.open {
    margin: 0 1em;
}

.menu-btn:hover {
    background-color: base.$hover-blue;
    @include component.custom-box-shadow;
}

.menu-icon {
    margin-right: 10px;
}

/* 3 SVARTA STRECK SOM BILDAR "HAMBURG-IKON" */
.bars {
    display: block;
    width: 20px;
    height: 3px;
    background-color: base.$standard-white;
    margin: 5px 0;
}

.menu-text {
    font-size: 1.2em;
    color: base.$standard-white;
}

/* STÄNG MENY-KNAPP */
.close {
    margin: 1em 1.5em;
    padding: 10px 15px;

}

/* TVÅ LODRÄTA STRECK ROTERAT TILL ETT KRYSS */
.cross1 {
    width: 25px;
    transform: rotate(45deg);
    position: relative;
    top: 5px;
}

.cross2 {
    width: 25px;
    transform: rotate(135deg);
    position: relative;
    top: -3px;
}


/* STYLING FÖR MAIN, SECTION, RUBRIKER, BRÖDTEXT (inkluderar startsida och sass-sida) */

main {
    background-color: base.$standard-white;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    @include component.custom-box-shadow;
}

section {
    width: 70%;
    margin: 0 auto;
}

section p {
    text-align: center;
    font-size: 1.1em;
    line-height: 1.8em;
}

p, h1, h2 {
    font-family: base.$primary-font;
    color: base.$standard-black;
}

h1, h2, footer p {
    text-align: center;
}


/* STYLING FÖR LÄNKAR */

section a {
    @include component.bluelink;
}

section a:hover {
    color: base.$standard-black;
}

.links a {
    @include component.link;
}

/* STYLING FÖR FOOTER */

footer p {
    padding-top: 30px;
}

footer {
    background-color: base.$primary-blue;
    height: 80px;
}

/* STYLING FÖR BILDER PÅ STARTSIDA SAMT GALLERY */

  .picture-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 50px;
}

.picture-grid img {
    width: 100%;
    @include component.border-style(false);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

.container img {
    @include component.border-style(false);  
    }


/* OM MIG SIDA */

.about h1 {
    font-size: 32px;
}

.about img {
    border-radius: 50%;
}

.about-content {
    column-count: 2;
    column-gap: 2px;
    padding: 5%;
}

.about-content p {
    text-align: left;
}

article p {
    font-size: 1em;
    line-height: 1.3em;
}

/* KONTAKTFORMULÄR PÅ KONTAKT-SIDAN */

.contact-form {
    background-color: base.$background-blue;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    @include component.custom-box-shadow;
  }
  
  label {
    font-family: base.$primary-font;
    display: block;
    margin-bottom: 8px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #a0a0a0;
  }

  .button-container {
    display: flex;
    justify-content: space-between;
  }
  
  .button {
    width: 130px;
    height: 45px;
    border-radius: 5px;
    color: black;
    font-size: 1em;
    cursor: pointer;
  }

  /* EXTEND FÖR KNAPPAR */

  .reset-button {
    @extend .button;
    background-color: red;
  }

  .send-button {
    @extend .button;
    background-color: green;
  }


/* MÖRKT OCH LJUST TEMA */

@media (prefers-color-scheme: dark) {
    body {
        background-color: base.$background-blue-darkmode;
    }
    main {
        background-color: base.$standard-white-darkmode;
        @include component.custom-box-shadow-darkmode;
    }
    header {
        background-color: base.$primary-blue-darkmode;
    }
    .logo a {
        color: base.$standard-white-darkmode;
        text-shadow: base.$text-shadow-darkmode;
    }
    .contact-form {
        background-color: base.$background-blue-darkmode;
        @include component.custom-box-shadow-darkmode;
    }
    nav {
        background-color: base.$primary-blue-darkmode;
        text-shadow: base.$text-shadow-darkmode;
    }
    nav a {
        color: base.$standard-white-darkmode;
    }
    nav li:hover {
    background-color: base.$hover-blue-darkmode;
    }
    .menu-btn {
    background-color: base.$primary-blue-darkmode;
    border: base.$menu-border;
    @include component.custom-box-shadow-darkmode;
    }
    .menu-btn:hover {
    background-color: base.$hover-blue-darkmode;
    @include component.custom-box-shadow-darkmode;
    }
    .bars {
    background-color: base.$standard-white-darkmode;
    }
    
    .menu-text {
    color: base.$standard-white-darkmode;
    }

    .picture-grid img {
    @include component.border-style(true);
    }

    .container img {
    @include component.border-style(true);  
    }

    section a {
        @include component.bluelink-darkmode;
    }

    .links a {
        @include component.link-darkmode;
    }

    footer {
        background-color: base.$primary-blue-darkmode;
    }

}

/* ---MEDIA QUERIES--- */

/* MEDIA QUERY FÖR MENYN, GÖR SOM INLINE VID 1160PX */
@media only screen and (min-width: 1160px) {
    header {
        padding: 0 3em;
    }

    .menu-btn {
        display: none;
    }

    #open-menu {
        display: none !important;
    }

    header {
        position: static;
    }

    nav {
        display: block !important;
        position: static;
        box-shadow: 0 0px 0px;
        height: auto;
        font-size: 1.4em;
        width: auto;
    }

    nav ul {
        height: 100%;
    }

    nav li {
        display: inline;
        padding: 1.2em 0;
    }
}

/* EGEN MEDIA QUERY FÖR OM MIG-SIDA */

@media only screen and (max-width: 1130px) {
    .about-content {
        width: auto;
        column-count: 1; 
        text-align: center;
    }

    .about-content img {
        width: 50%;
    }

    .about-content h2 {
        padding-top: 30px;
    }

    .about-content p {
        text-align: center;
        width: 80%;
        margin: 0 auto;
        line-height: 1.6em;
    }

}

/* TABLETS */

@media only screen and (min-width: 700px) and (max-width: 940px) {

    section {
        width: 70%;
    }

    section p {
        font-size: 1.2em;
    }

    .picture-grid {
        gap: 20px;
        padding: 30px;
    }
    
    .picture-grid img {
        width: 100%;
    }
}

/* MOBILE */

@media only screen and (max-width: 699px) {

    section {
        width: 80%;
    }

    section p {
        font-size: 1.2em;
    }

    .container img {
        width: auto;
    }

    .picture-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        padding: 30px;
    }
    
    .picture-grid img {
        width: 100%;
    }
    
    .about-content {
        width: auto;
        column-count: 1; 
        text-align: center;
    }

    .about-content img {
        width: 80%;
    }

    .about-content h2 {
        padding-top: 30px;
    }

    .about-content p {
        text-align: center;
        width: 80%;
        margin: 0 auto;
        line-height: 1.6em;
    }

    footer p {
        padding-top: 40px;
        font-size: 0.8em;
    }
    
    footer {
        height: 90px;
    }
}

/* ANIMATIONER */

#rotateEarth {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    animation-name: rotateEarth;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#changeColorTitle {
    width: 300px;
    height: 60px;
    padding-top: 15px;
    border-radius: 50%;
    box-shadow: base.$text-shadow;
    margin: 0 auto;
    animation-name: changeColorTitle;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.pictureContainer {
    width: 500px;
    position: relative;
    margin: 0 auto;
    transition: 0.5s ease;
}

.pictureContainer img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.overlay {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgb(61, 153, 167);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.3s ease;
}

.overlay2 {
    @extend .overlay;
    background-color: rgb(52, 52, 52);
}

.overlay3 {
    @extend .overlay;
    background-color: rgb(235, 137, 94);
}

.pictureContainer:hover {
    width: 600px;
    animation-name: pictureContainer;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;

    
}

.overlay:hover {
    opacity: 0.2;
    box-shadow: 0px 0px 8px 10px #000000;
}

